<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'bounce22' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>81fc7f20-7eff-4f10-b31b-f67f49a10a08</InstrumentationKey>
</ApplicationInsights>